api/api.html linguist-generated=true
cmd/hekate/_data/**/* linguist-vendored=true
cmd/portal/assets/css/bootstrap.min.css linguist-vendored=true
cmd/portal/assets/css/coreui.min.css linguist-vendored=true
