@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

body{
	color: #3c4b64;
	background-color: #ebedef;
	font-family: 'Ruda', sans-serif;
	font-size: 10px;
}

h1{
	font-size: 28px;
}

.error {
	text-align: center;
}

.error img {
	margin-top: 100px;
}

.error-msg{
	color: #ff0000;
}

.login-form{
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	width: 500px;
	font-size: 150%;
}

.input {
	font-size: small;
}