@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

body{
	font-weight: 400;
	font-size: 14px;
	color: #3c4b64;
	background-color: #ebedef;
	font-family: 'Ruda', sans-serif;
}

h1 {
	font-size: 42px;
}

.index-window {
	margin-top: 50px;
	max-width: 400px;
	text-align: center;
	padding: 20px;
}

.divider {
  clear: both;
  border-bottom: 1px solid #eff2f7;
  padding-bottom: 15px;
  margin-bottom: 15px;
}