<h1>BBS messages</h1>
<div>
  <% @messages.each do |msg| %>
    <div> <%= msg.text %></div>
  <% end %>
</div>

<div>
  <%= form_with url: bbs_add_path do |f| %>
    <%= f.text_field :text %>
    <%= f.submit "Add" %>
  <% end %>
</div>